
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #D1D1D1;;
}
img{
    vertical-align:middle
}
.contaener{
    margin: 0;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 20px;

}

.content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0;
   
}
.navbar{
    display: flex;
    text-decoration: none;
    
}

.nav-list{
    display: flex;
    list-style: none;
    
}


.list{
    display: flex;
    list-style: none;
    
}
.nav-item{
    text-decoration: none;
   
}

.nav-link{
    text-decoration: none;
    padding: 0 17px;
  
}
.navbar-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* identical to box height, or 187% */
    
    
    color: #2F281E;
}

.navbar-active{
 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
   padding:15px 30px;
margin-left: 255px;
    
    color: #173A56;
border: 1px solid #BCD0E5;
border-radius: 4px;
}

.navbar-item{
    padding: 15px 30px;
    margin-left: 15px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;

text-align: center;

color: #FFFFFF;
background: #FF9900;
border-radius: 4px;
}
.thi{
    display: flex;
}
.thi-enner{
    margin: 45px 0;
}
.thi-list{
    list-style: none;
    display: flex;
}
.thi-titli{
    width: 550px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
/* or 123% */


color: #2F281E;

}
.thi-text{
    width: 496px ;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */


color: #544837;
}

.thi-item-link{
    background: #FF9900;
border-radius: 4px;
padding: 10px 30px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;



color: #FFFFFF;

}
.thi-img{
    margin-left: 45px;
}
.thi-link{
   
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-decoration: none;
text-decoration-line: underline;

color: #FF9900;
}
.thi-title{
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;
text-align: center;
width: 462px;
color: #2F281E;
margin: 0 auto;

}
.first-list{
    display: flex;
    list-style: none;
    background: linear-gradient(179.61deg, rgba(255, 229, 210, 0.629261) 0.33%, rgba(255, 244, 229, 0.0001) 99.67%);
   
}
.first-item{
    margin-right: 44px;
}
.first-titli{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height */


color: #2F281E;
}
.our-first{
    background-image: url(../imges/Bg.png);
}



.first-text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
width: 262px;

color: #544837;

}
.link-enner{
    width: 171px;
    margin: 0 auto;
}
.ffirst-link{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */
padding: 10px 30px;
text-align: center;
background: #FF7549;
border-radius: 4px;
color: #FFFFFF;
text-decoration: none;

}
/* MARKETING SITE */

.marketing-titli{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;

color: #2F281E;
}

.marketing-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    
    color: #544837;
}
.marketing-list{
    list-style: none;
    display: flex;
   
    gap: 10px;
} 

.marketing-link{
    width: 47px;
height: 28px;
left: 172px;
top: 1397px;
padding: 0 14px;
text-decoration: none; 
background: #FFFFFF;
border: 1px solid #D7D7D7;
border-radius: 90px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 28px;
/* identical to box height, or 215% */


color: #544837;

}

.marketing-active{
    color: #fff;
background: #FF9900;
border-radius: 90px;
}

/* STR SITE */
.str-list{
    display: flex;
    list-style: none;
    margin: 30px 0 ;
    padding: 0;
   
}


.str-item{
    margin-right: 15px;
  
}

.st-img{
    background: #FFFFFF;
    border-radius: 8px;
}



.str-text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #2F281E;
}

.str-link{
    text-decoration: none;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 28px;
/* identical to box height, or 215% */
margin-left: 4px;
padding: 0 14px;
background: #F5F5F5;
border-radius: 90px;

color: #544837;
}

.sr-text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #2F281E;

}
.st-link{
    background: #F5F5F5;
border-radius: 90px;

width: 73px;
height: 28px;
padding: 0 10px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 28px;
/* identical to box height, or 215% */
text-decoration: none;

color: #544837;
}

.s-text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #FF9900;
}
.s-link{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 28px;
/* identical to box height, or 215% */
background: #F5F5F5;
border-radius: 90px;
padding: 0 10px;
margin-right: 4px;
color: #544837;
text-decoration: none;

}
/* INC-SITE */
.inc-list{
    display: flex;
    margin: 30px 0;
    padding: 0;
    list-style: none;


}

.inc-item{
    margin: 0 7.5px;
margin: 0;
padding: 0;
}

.inc-img{
    margin: 0;
    padding: 0;
    margin-right: 15px;

}
.inc-text{
    width: 719px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #2F281E;
}

.inc-link{
    padding: 0 14px;
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 28px;
/* identical to box height, or 215% */
text-decoration: none;

background: #F5F5F5;
border-radius: 90px;
color: #544837;
}

.in-text{
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
/* or 142% */


color: #2F281E;
}
/* ABOUT SITE */
.about-titli{
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;

color: #2F281E;

}
.about-list{
    list-style: none;
    margin: 0;
}
.about-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    
    
    color: #544837;
}
/* 
CAT SITE */
.cat-list{
    display: flex;
}

.cat-item{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
.cat{
    margin-top: 20px;
    margin-right: 80px;
}

.cat-2{
    margin-right: 50px;
}
.cat-titli{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
   margin: 0;
    color: #544837;
}
.cat-text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */

margin: 0;
color: #544837;
}

.cat-link{
    margin-left: 15px;
display:block;
   
    text-decoration: none;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */
margin: 0;

color: #1943EF;
}

/* CONTACT SITE */

.contact-enner{
    background: #FFEEE1;
}
.contact-list{
    display: flex;
}
.contact-item{
    list-style: none;

}
.contact-titli{
    margin-bottom: 0;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 46px;

color: #2F281E;
}

.contact-text{
width: 528px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #544837;
}
.con{
    display: block;
   
}
.contact-1{
    display: block;
   
}

.contact-link{
    text-decoration: none;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 26px;
/* identical to box height, or 104% */


color: #544837;
}

/* FORM SITE */
.form{
 
  
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
background: #FFFFFF;
border-radius: 5px;

color: #C6C6C6;
}
.box-item{
    margin-top: 140px;
    margin-left: 35px;
}
.box{
    display: block;
 
/* identical to box height, or 162% */
background: #FFFFFF;
border-radius: 5px;



    
}

input{
    width: 260px;
    margin-left: px;
}

textarea{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #C6C6C6;
    resize: none;
}


.btn{
    padding: 10px 20px;
    font-weight: 700;
font-size: 16px;
line-height: 22px;
width: 117px;
text-align: center;
margin:0 auto;
color: #FFFFFF;
    background: #FF9900;
border-radius: 4px;
}